.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.text {
    width: 100%;
    padding: 0.75em;
    margin-bottom: 0.35em;

    border: 1px solid black;
    border-radius: 2em;
    outline: none;
}

.errorMessage {
    align-self: start;
    margin: 0 0 0.75em;
    padding: 0;

    color: red;
    font-weight: bold;
}

.button {
    padding: 1em;
    align-self: start;

    color: black;
    text-decoration: none;
    text-transform: uppercase;

    background: none;
    border: 1px solid black;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}

.button:hover {
    color: white;
    background: black;
    transition: ease-in-out 0.5s;
}