.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 1em 0 0.25em;
    padding: 0;
}

.link {
    position: relative;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.link::before {
    content: '<';
    position: absolute;
    left: -14px;
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 1em;
    }
}