.toolWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    position: relative;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.link::before {
    content: '<';
    position: absolute;
    left: -14px;
}

.button {
    position: relative;
    padding: 0.5em;
    margin-left: 0.5em;

    color: black;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;

    background: none;
    border: 1px solid black;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}

.button:hover {
    color: white;
    background: black;
    transition: ease-in-out 0.5s;
}

.wrapper {
    margin-bottom: 2em;
}

.commentTitle {
    padding: 1em 0;
    font-size: 1em;
    text-transform: uppercase;

    border-bottom: 2px solid black;
}

.commentsList {
    margin: 0;
    padding: 0;

    list-style-type: none;
}